@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-size: 15px;
}
header{
  text-align: center;
  margin: 10px 0px;
  font-family: 'Roboto Serif', sans-serif;
  font-weight: 600;

}
p{
  margin-top: 5px;
  font-size:  17px;
}
#flex{
  display: flex;
}
#answer{
  margin-top: 0px;
  display: block;
  text-align: center;
  margin: auto;
  height: 40px;
  font-weight:700;
  font-size: 13px;
}
#num1 , #num2{
  height:70px;
  width:110px;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 20px auto;
  font-weight: 800;
  color: #3b3b3c;
}
button{
  width: 70px;
  height:70px;
  font-size: 20px;
  font-weight: 800;
  background: #f0eeef;
  color: #3b3b3c;
  border-radius:13px;
  box-shadow: inset 0 5px 10px 0 #fff,inset 0 -5px 10px 3px #847a7a,0 5px 10px 0px #1e211e;
}

main{
  height:500px;
  width:300px;
  margin: 0px auto;
  background: black;
  padding-top: 15px;
}
#grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0px 35px;
}
.single{
  visibility: hidden;
}
.copy{
  position:fixed;
  bottom:0;
  left: 0;
  width:100%;
  height: auto;
  background:black;
  text-align: center;
  color: yellow;
  font-family: 'Roboto Serif', sans-serif;
  padding: 10px 0px
}